# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Jupyter Notebook
.ipynb_checkpoints/

# Data files (IMPORTANT)
data/
*.csv
*.xlsx
*.parquet

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Virtual env
env/
venv/

# IDE
.vscode/
.idea/